<div class="row main" ng-controller="EditorCtrl">
  <div class="col-md-12">
    <div class="col-md-6">
        <div class="form-group">
          <label for="editor">HTML:</label>
          <textarea class="form-control" rows="19" id="editor" ng-model="html.editor" ng-change="typing()"></textarea>
        </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">

          <label for="editor">Display:</label>
        <iframe id="target"></iframe>
      </div>

    </div>
    <div class="col-md-12">
      <div class="col-md-6">
          <div class="radius-container">
            <input class="radius-input radius-top-left" id="radius-top-left">
            <input class="radius-input radius-top-right" id="radius-top-right">
            <input class="radius-input radius-bottom-left" id="radius-bottom-left">
            <input class="radius-input radius-bottom-right" id="radius-bottom-right">
            <div class="radus-box">

            </div>
          </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>
  <!-- <script type="text/javascript">
      function change() {

      }
      </script>

      <textarea id="src" onkeyup="change();"></textarea><br/>
      <iframe id="target"></iframe>​ -->
